---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<div class="wordwrap">The full list of articles is on <a href="https://scholar.google.com/citations?hl=en&user=QWXAsyYAAAAJ">my Google Scholar profile</a>.</div>

{% include base_path %}

<h2>Preprints</h2><hr />
{% for post in site.publications reversed %}
  {% if post.category == "preprints" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Key Research Articles</h2><hr />
{% for post in site.publications reversed %}
  {% if post.category == "key-articles" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
